.reviews {
  .container;
  padding-top: 30px;
  padding-bottom: 42px;
  text-align: center;
  background-color: @bg-color;

  .outline(red);
}

.reviews__author-name {
  .text(700; @medium; @x-large; @contrast-color);
  font-style: normal;
}

.reviews__text {
  padding: 0;
  .text(400; @small; @x-large; @base-color);
}
